# Part 1

# Importing the Libraries

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
import matplotlib.pyplot as plt
%matplotlib inline

# Importing the Dataset

In [4]:
dataset = pd.read_csv('Churn_Modelling.csv')

In [5]:
dataset

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
5,6,15574012,Chu,645,Spain,Male,44,8,113755.78,2,1,0,149756.71,1
6,7,15592531,Bartlett,822,France,Male,50,7,0.00,2,1,1,10062.80,0
7,8,15656148,Obinna,376,Germany,Female,29,4,115046.74,4,1,0,119346.88,1
8,9,15792365,He,501,France,Male,44,4,142051.07,2,0,1,74940.50,0
9,10,15592389,H?,684,France,Male,27,2,134603.88,1,1,1,71725.73,0
10,11,15767821,Bearce,528,France,Male,31,6,102016.72,2,0,0,80181.12,0
11,12,15737173,Andrews,497,Spain,Male,24,3,0.00,2,1,0,76390.01,0
12,13,15632264,Kay,476,France,Female,34,10,0.00,2,1,0,26260.98,0
13,14,15691483,Chin,549,France,Female,25,5,0.00,2,0,0,190857.79,0
14,15,15600882,Scott,635,Spain,Female,35,7,0.00,2,1,1,65951.65,0
15,16,15643966,Goforth,616,Germany,Male,45,3,143129.41,2,0,1,64327.26,0
16,17,15737452,Romeo,653,Germany,Male,58,1,132602.88,1,1,0,5097.67,1
17,18,15788218,Henderson,549,Spain,Female,24,9,0.00,2,1,1,14406.41,0
18,19,15661507,Muldrow,587,Spain,Male,45,6,0.00,1,0,0,158684.81,0
19,20,15568982,Hao,726,France,Female,24,6,0.00,2,1,1,54724.03,0
20,21,15577657,McDonald,732,France,Male,41,8,0.00,2,1,1,170886.17,0
21,22,15597945,Dellucci,636,Spain,Female,32,8,0.00,2,1,0,138555.46,0
22,23,15699309,Gerasimov,510,Spain,Female,38,4,0.00,1,1,0,118913.53,1
23,24,15725737,Mosman,669,France,Male,46,3,0.00,2,0,1,8487.75,0
24,25,15625047,Yen,846,France,Female,38,5,0.00,1,1,1,187616.16,0
25,26,15738191,Maclean,577,France,Male,25,3,0.00,2,0,1,124508.29,0
26,27,15736816,Young,756,Germany,Male,36,2,136815.64,1,1,1,170041.95,0
27,28,15700772,Nebechi,571,France,Male,44,9,0.00,2,0,0,38433.35,0
28,29,15728693,McWilliams,574,Germany,Female,43,3,141349.43,1,1,1,100187.43,0
29,30,15656300,Lucciano,411,France,Male,29,0,59697.17,2,1,1,53483.21,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,9971,15587133,Thompson,518,France,Male,42,7,151027.05,2,1,0,119377.36,0
9971,9972,15721377,Chou,833,France,Female,34,3,144751.81,1,0,0,166472.81,0
9972,9973,15747927,Ch'in,758,France,Male,26,4,155739.76,1,1,0,171552.02,0
9973,9974,15806455,Miller,611,France,Male,27,7,0.00,2,1,1,157474.10,0
9974,9975,15695474,Barker,583,France,Male,33,7,122531.86,1,1,0,13549.24,0
9975,9976,15666295,Smith,610,Germany,Male,50,1,113957.01,2,1,0,196526.55,1
9976,9977,15656062,Azikiwe,637,France,Female,33,7,103377.81,1,1,0,84419.78,0
9977,9978,15579969,Mancini,683,France,Female,32,9,0.00,2,1,1,24991.92,0
9978,9979,15703563,P'eng,774,France,Male,40,9,93017.47,2,1,0,191608.97,0
9979,9980,15692664,Diribe,677,France,Female,58,1,90022.85,1,0,1,2988.28,0
9980,9981,15719276,T'ao,741,Spain,Male,35,6,74371.49,1,0,0,99595.67,0
9981,9982,15672754,Burbidge,498,Germany,Male,42,3,152039.70,1,1,1,53445.17,1
9982,9983,15768163,Griffin,655,Germany,Female,46,7,137145.12,1,1,0,115146.40,1
9983,9984,15656710,Cocci,613,France,Male,40,4,0.00,1,0,0,151325.24,0
9984,9985,15696175,Echezonachukwu,602,Germany,Male,35,7,90602.42,2,1,1,51695.41,0
9985,9986,15586914,Nepean,659,France,Male,36,6,123841.49,2,1,0,96833.00,0
9986,9987,15581736,Bartlett,673,Germany,Male,47,1,183579.54,2,0,1,34047.54,0
9987,9988,15588839,Mancini,606,Spain,Male,30,8,180307.73,2,1,1,1914.41,0
9988,9989,15589329,Pirozzi,775,France,Male,30,4,0.00,2,1,0,49337.84,0
9989,9990,15605622,McMillan,841,Spain,Male,28,4,0.00,2,1,1,179436.60,0
9990,9991,15798964,Nkemakonam,714,Germany,Male,33,3,35016.60,1,1,0,53667.08,0
9991,9992,15769959,Ajuluchukwu,597,France,Female,53,4,88381.21,1,1,0,69384.71,1
9992,9993,15657105,Chukwualuka,726,Spain,Male,36,2,0.00,1,1,0,195192.40,0
9993,9994,15569266,Rahman,644,France,Male,28,7,155060.41,1,1,0,29179.52,0
9994,9995,15719294,Wood,800,France,Female,29,2,0.00,2,0,0,167773.55,0
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [6]:
X = dataset.iloc[:, 3:13].values
y = dataset.iloc[:, 13].values

# Encoding Categorical Data

In [7]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [8]:
labelencoder_X_1 = LabelEncoder()

In [9]:
X[:, 1] = labelencoder_X_1.fit_transform(X[:, 1])

In [10]:
labelencoder_X_2 = LabelEncoder()
X[:, 2] = labelencoder_X_2.fit_transform(X[:, 2])

In [11]:
onehotencoder = OneHotEncoder(categorical_features = [1])

In [12]:
X = onehotencoder.fit_transform(X).toarray()

In [13]:
X = X[:, 1:]

# Splitting the Dataset into the Training Set and Test Set

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

# Feature Scaling

In [16]:
from sklearn.preprocessing import StandardScaler

In [17]:
sc = StandardScaler()

In [18]:
X_train = sc.fit_transform(X_train)
X_train

array([[-0.5698444 ,  1.74309049,  0.16958176, ...,  0.64259497,
        -1.03227043,  1.10643166],
       [ 1.75486502, -0.57369368, -2.30455945, ...,  0.64259497,
         0.9687384 , -0.74866447],
       [-0.5698444 , -0.57369368, -1.19119591, ...,  0.64259497,
        -1.03227043,  1.48533467],
       ...,
       [-0.5698444 , -0.57369368,  0.9015152 , ...,  0.64259497,
        -1.03227043,  1.41231994],
       [-0.5698444 ,  1.74309049, -0.62420521, ...,  0.64259497,
         0.9687384 ,  0.84432121],
       [ 1.75486502, -0.57369368, -0.28401079, ...,  0.64259497,
        -1.03227043,  0.32472465]])

In [19]:
X_test = sc.fit_transform(X_test)
X_test

array([[ 1.62776996, -0.57427105, -0.56129438, ...,  0.66011376,
         0.97628121,  1.62185911],
       [-0.61433742, -0.57427105, -1.33847768, ...,  0.66011376,
        -1.02429504,  0.504204  ],
       [-0.61433742,  1.74133801,  0.58347561, ...,  0.66011376,
         0.97628121, -0.41865644],
       ...,
       [-0.61433742,  1.74133801, -0.76084144, ...,  0.66011376,
        -1.02429504,  0.72775202],
       [ 1.62776996, -0.57427105, -0.0046631 , ...,  0.66011376,
         0.97628121, -1.54162886],
       [ 1.62776996, -0.57427105, -0.81335383, ...,  0.66011376,
        -1.02429504,  1.62356528]])

# Part 2 - Now let's make the ANN!

# Importing the Keras Libraries and Packages

In [20]:
import keras

Using TensorFlow backend.

In [21]:
from keras.models import Sequential

In [22]:
from keras.layers import Dense

# Initialising the ANN

In [23]:
classifier = Sequential()

# Adding the Input Layer and the First Hidden Layer

In [24]:
classifier.add(Dense(output_dim = 6, init = 'uniform', activation = 'relu', input_dim = 11))

/home/atse/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", input_dim=11, units=6, kernel_initializer="uniform")`
  """Entry point for launching an IPython kernel.

# Second Hidden Layer

In [25]:
classifier.add(Dense(output_dim = 6, init = 'uniform', activation = 'relu'))

/home/atse/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=6, kernel_initializer="uniform")`
  """Entry point for launching an IPython kernel.

# Output Layer

In [26]:
classifier.add(Dense(output_dim = 1, init = 'uniform', activation = 'sigmoid'))

/home/atse/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="sigmoid", units=1, kernel_initializer="uniform")`
  """Entry point for launching an IPython kernel.

# Compile the ANN

In [27]:
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

# Fitting the ANN to the Training Set

In [28]:
classifier.fit(X_train, y_train, batch_size = 10, nb_epoch = 100)

/home/atse/miniconda3/lib/python3.6/site-packages/keras/models.py:837: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  warnings.warn('The `nb_epoch` argument in `fit` '

Epoch 1/100
8000/8000 [==============================] - 1s - loss: 0.4899 - acc: 0.7949
Epoch 2/100
8000/8000 [==============================] - 1s - loss: 0.4279 - acc: 0.7960
Epoch 3/100
8000/8000 [==============================] - 1s - loss: 0.4220 - acc: 0.7960
Epoch 4/100
8000/8000 [==============================] - 1s - loss: 0.4178 - acc: 0.8224
Epoch 5/100
8000/8000 [==============================] - 1s - loss: 0.4158 - acc: 0.8274
Epoch 6/100
8000/8000 [==============================] - 1s - loss: 0.4139 - acc: 0.8292
Epoch 7/100
8000/8000 [==============================] - 1s - loss: 0.4127 - acc: 0.8312
Epoch 8/100
8000/8000 [==============================] - 1s - loss: 0.4110 - acc: 0.8331
Epoch 9/100
8000/8000 [==============================] - 1s - loss: 0.4100 - acc: 0.8327
Epoch 10/100
8000/8000 [==============================] - 1s - loss: 0.4087 - acc: 0.8330
Epoch 11/100
8000/8000 [==============================] - 1s - loss: 0.4082 - acc: 0.8342
Epoch 12/100
8000/8000 [==============================] - 1s - loss: 0.4075 - acc: 0.8339
Epoch 13/100
8000/8000 [==============================] - 1s - loss: 0.4063 - acc: 0.8334
Epoch 14/100
8000/8000 [==============================] - 1s - loss: 0.4061 - acc: 0.8347
Epoch 15/100
8000/8000 [==============================] - 1s - loss: 0.4052 - acc: 0.8340
Epoch 16/100
8000/8000 [==============================] - 1s - loss: 0.4051 - acc: 0.8356
Epoch 17/100
8000/8000 [==============================] - 1s - loss: 0.4051 - acc: 0.8341
Epoch 18/100
8000/8000 [==============================] - 1s - loss: 0.4041 - acc: 0.8346
Epoch 19/100
8000/8000 [==============================] - 1s - loss: 0.4041 - acc: 0.8344
Epoch 20/100
8000/8000 [==============================] - 1s - loss: 0.4034 - acc: 0.8345
Epoch 21/100
8000/8000 [==============================] - 1s - loss: 0.4037 - acc: 0.8336
Epoch 22/100
8000/8000 [==============================] - 1s - loss: 0.4034 - acc: 0.8346
Epoch 23/100
8000/8000 [==============================] - 1s - loss: 0.4030 - acc: 0.8334
Epoch 24/100
8000/8000 [==============================] - 1s - loss: 0.4023 - acc: 0.8355
Epoch 25/100
8000/8000 [==============================] - 1s - loss: 0.4026 - acc: 0.8344
Epoch 26/100
8000/8000 [==============================] - 1s - loss: 0.4019 - acc: 0.8339
Epoch 27/100
8000/8000 [==============================] - 1s - loss: 0.4022 - acc: 0.8336
Epoch 28/100
8000/8000 [==============================] - 1s - loss: 0.4021 - acc: 0.8335
Epoch 29/100
8000/8000 [==============================] - 1s - loss: 0.4018 - acc: 0.8351
Epoch 30/100
8000/8000 [==============================] - 1s - loss: 0.4017 - acc: 0.8361
Epoch 31/100
8000/8000 [==============================] - 1s - loss: 0.4016 - acc: 0.8342
Epoch 32/100
8000/8000 [==============================] - 1s - loss: 0.4011 - acc: 0.8347
Epoch 33/100
8000/8000 [==============================] - 1s - loss: 0.4013 - acc: 0.8347
Epoch 34/100
8000/8000 [==============================] - 1s - loss: 0.4011 - acc: 0.8356
Epoch 35/100
8000/8000 [==============================] - 1s - loss: 0.4011 - acc: 0.8354
Epoch 36/100
8000/8000 [==============================] - 1s - loss: 0.4010 - acc: 0.8361
Epoch 37/100
8000/8000 [==============================] - 1s - loss: 0.4007 - acc: 0.8345
Epoch 38/100
8000/8000 [==============================] - 1s - loss: 0.4009 - acc: 0.8349
Epoch 39/100
8000/8000 [==============================] - 1s - loss: 0.4009 - acc: 0.8339
Epoch 40/100
8000/8000 [==============================] - 1s - loss: 0.4006 - acc: 0.8361
Epoch 41/100
8000/8000 [==============================] - 1s - loss: 0.4009 - acc: 0.8342
Epoch 42/100
8000/8000 [==============================] - 1s - loss: 0.4000 - acc: 0.8355
Epoch 43/100
8000/8000 [==============================] - 1s - loss: 0.4009 - acc: 0.8366
Epoch 44/100
8000/8000 [==============================] - 1s - loss: 0.4006 - acc: 0.8342
Epoch 45/100
8000/8000 [==============================] - 1s - loss: 0.4002 - acc: 0.8341
Epoch 46/100
8000/8000 [==============================] - 1s - loss: 0.4000 - acc: 0.8361
Epoch 47/100
8000/8000 [==============================] - 1s - loss: 0.4003 - acc: 0.8367
Epoch 48/100
8000/8000 [==============================] - 1s - loss: 0.4001 - acc: 0.8337
Epoch 49/100
8000/8000 [==============================] - 1s - loss: 0.3999 - acc: 0.8346
Epoch 50/100
8000/8000 [==============================] - 1s - loss: 0.4003 - acc: 0.8354
Epoch 51/100
8000/8000 [==============================] - 1s - loss: 0.3997 - acc: 0.8352
Epoch 52/100
8000/8000 [==============================] - 1s - loss: 0.4001 - acc: 0.8365
Epoch 53/100
8000/8000 [==============================] - 1s - loss: 0.3998 - acc: 0.8362
Epoch 54/100
8000/8000 [==============================] - 1s - loss: 0.3999 - acc: 0.8356
Epoch 55/100
8000/8000 [==============================] - 1s - loss: 0.3998 - acc: 0.8337
Epoch 56/100
8000/8000 [==============================] - 1s - loss: 0.3997 - acc: 0.8366
Epoch 57/100
8000/8000 [==============================] - 1s - loss: 0.3995 - acc: 0.8356
Epoch 58/100
8000/8000 [==============================] - 1s - loss: 0.3993 - acc: 0.8364
Epoch 59/100
8000/8000 [==============================] - 1s - loss: 0.3995 - acc: 0.8360     - ETA: 0s - loss: 0.3992 - acc: 0.836
Epoch 60/100
8000/8000 [==============================] - 1s - loss: 0.3996 - acc: 0.8356
Epoch 61/100
8000/8000 [==============================] - 1s - loss: 0.3999 - acc: 0.8372
Epoch 62/100
8000/8000 [==============================] - 1s - loss: 0.3993 - acc: 0.8364
Epoch 63/100
8000/8000 [==============================] - 1s - loss: 0.3998 - acc: 0.8349
Epoch 64/100
8000/8000 [==============================] - 1s - loss: 0.3993 - acc: 0.8357
Epoch 65/100
8000/8000 [==============================] - 1s - loss: 0.3996 - acc: 0.8359
Epoch 66/100
8000/8000 [==============================] - 1s - loss: 0.3993 - acc: 0.8352
Epoch 67/100
8000/8000 [==============================] - 1s - loss: 0.3991 - acc: 0.8367
Epoch 68/100
8000/8000 [==============================] - 1s - loss: 0.3990 - acc: 0.8369
Epoch 69/100
8000/8000 [==============================] - 1s - loss: 0.3993 - acc: 0.8351
Epoch 70/100
8000/8000 [==============================] - 1s - loss: 0.3991 - acc: 0.8365
Epoch 71/100
8000/8000 [==============================] - 1s - loss: 0.3989 - acc: 0.8362
Epoch 72/100
8000/8000 [==============================] - 1s - loss: 0.3992 - acc: 0.8370
Epoch 73/100
8000/8000 [==============================] - 1s - loss: 0.3993 - acc: 0.8349
Epoch 74/100
8000/8000 [==============================] - 1s - loss: 0.3988 - acc: 0.8370
Epoch 75/100
8000/8000 [==============================] - 1s - loss: 0.3991 - acc: 0.8345
Epoch 76/100
8000/8000 [==============================] - 1s - loss: 0.3985 - acc: 0.8371
Epoch 77/100
8000/8000 [==============================] - 1s - loss: 0.3988 - acc: 0.8371
Epoch 78/100
8000/8000 [==============================] - 1s - loss: 0.3988 - acc: 0.8361
Epoch 79/100
8000/8000 [==============================] - 0s - loss: 0.3988 - acc: 0.8362
Epoch 80/100
8000/8000 [==============================] - 1s - loss: 0.3987 - acc: 0.8357
Epoch 81/100
8000/8000 [==============================] - 0s - loss: 0.3986 - acc: 0.8359
Epoch 82/100
8000/8000 [==============================] - 0s - loss: 0.3985 - acc: 0.8364
Epoch 83/100
8000/8000 [==============================] - 1s - loss: 0.3984 - acc: 0.8370
Epoch 84/100
8000/8000 [==============================] - 1s - loss: 0.3983 - acc: 0.8357
Epoch 85/100
8000/8000 [==============================] - 1s - loss: 0.3983 - acc: 0.8359
Epoch 86/100

8000/8000 [==============================] - 1s - loss: 0.3981 - acc: 0.8365
Epoch 87/100
8000/8000 [==============================] - 0s - loss: 0.3977 - acc: 0.8356
Epoch 88/100
8000/8000 [==============================] - 1s - loss: 0.3970 - acc: 0.8356
Epoch 89/100
8000/8000 [==============================] - 1s - loss: 0.3958 - acc: 0.8361
Epoch 90/100
8000/8000 [==============================] - 1s - loss: 0.3949 - acc: 0.8365
Epoch 91/100
8000/8000 [==============================] - 1s - loss: 0.3927 - acc: 0.8365
Epoch 92/100
8000/8000 [==============================] - 1s - loss: 0.3887 - acc: 0.8386
Epoch 93/100
8000/8000 [==============================] - 1s - loss: 0.3825 - acc: 0.8430
Epoch 94/100
8000/8000 [==============================] - 1s - loss: 0.3750 - acc: 0.8457
Epoch 95/100
8000/8000 [==============================] - 1s - loss: 0.3683 - acc: 0.8499
Epoch 96/100
8000/8000 [==============================] - 1s - loss: 0.3610 - acc: 0.8527
Epoch 97/100
8000/8000 [==============================] - 1s - loss: 0.3559 - acc: 0.8540
Epoch 98/100
8000/8000 [==============================] - 1s - loss: 0.3515 - acc: 0.8572
Epoch 99/100
8000/8000 [==============================] - 1s - loss: 0.3486 - acc: 0.8555
Epoch 100/100
8000/8000 [==============================] - 1s - loss: 0.3473 - acc: 0.8572

# Part 3 - Making the Predictions and Evaluating the Model

# Predicting the Test Set Results

In [29]:
y_pred = classifier.predict(X_test)
y_pred

array([[ 0.20027186],
       [ 0.38046303],
       [ 0.19971733],
       ...,
       [ 0.20171742],
       [ 0.15267174],
       [ 0.16234307]], dtype=float32)

In [30]:
y_pred = (y_pred > 0.5)
y_pred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]], dtype=bool)

In [31]:
from sklearn.metrics import confusion_matrix

In [32]:
cm = confusion_matrix(y_test, y_pred)
cm

array([[1541,   54],
       [ 219,  186]])

In [33]:
(1541+186)/2000

0.8635